# Ignore default build folder
build/
.vs/
.ccls-cache/

# Ignore files
**/*.DS_Store
**/*.dylib

# Ignore CMake build in root ./
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
CTestTestfile.cmake
compile_commands.json
